* {
	font-family: arial;
	}

header {
	background-color: pink;
	width:99%;
	margin: 0px;
	padding: 3px;
	border: 2px solid black;
}

h1 {
	font-size:24px;
	text-align: left;
	border-spacing: 100%;
}
h2 {
	font-size: 18px;
	font-style: italic;
	font-family:"Gloria Hallelujah";
}
}
ul {
	background-color: pink;
}

li {
	display:inline-block;
	width:15%;
	font-weight: bold;
}

img {
	margin-top:10px;
}

div {
	display: inline-block;
}

a:link {
	color:blue;
}
#blogs-title {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	background-color: #FFE3F6;
	height: 325px;
	width:500px;
}

ul.list-of-blogs {
	font-size: 15px;
	text-align: left;
	display: block;

}
#block {
	background-color: dark pink;
	width:50px;
}
#footer {
	background-color: pink;
	width:100%;
	background-position: left;
	height: 50px;
}