* {
	font-family: arial;
	}

.header {
	width:100%;
	margin: 0px;
    background-color: #CC0066;
}

h1 {
	font-size:24px;
	text-align: left;
	border-spacing: 100%;
}
h2 {
	font-size: 18px;
	font-style: italic;
	font-family:"Gloria Hallelujah";
}


.titlebar {
	display:inline-block;
	width:15%;
	font-weight: bold;
}

img {
	margin-left: 20px;
}

div {
	display: inline-block;
}

a:link {
	color:blue;
}

.blogs-title {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	background-color:#E8E8E8 ;
	height: 325px;
	width:500px;
}

.list-of-blogs {
	font-size: 12px;
	text-align: left;
	

}
#block {
	background-color: dark pink;
	width:50px;
}

#footer {
	background-color: #CC0066;
	width:100%;
	background-position: left;
	height: 100px;
    padding: 0px;
    margin-bottom: 0px;
    border:0px;
}
