* {
	font-family: arial;
	}

.header {
	background-color: pink;
	width:100%;
	margin: 0px;
}

h1 {
	font-size:24px;
	text-align: left;
	border-spacing: 100%;
}
h2 {
	font-size: 18px;
	font-style: italic;
	font-family:"Gloria Hallelujah";
}


li {
	display:inline-block;
	width:15%;
	font-weight: bold;
}

img {
	margin-top:10px;
}

div {
	display: inline-block;
}

a:link {
	color:blue;
}

.blogs-title {
	font-family: Arial;
	font-size: 24px;
	text-align: center;
	background-color: #FFE3F6;
	height: 325px;
	width:500px;
}

ol.list-of-blogs {
	font-size: 12px;
	text-align: left;
	

}
#block {
	background-color: dark pink;
	width:50px;
}

#footer {
	background-color: pink;
	width:100%;
	background-position: left;
	height: 50px;
}
