* {
	font-family: arial;
	}
#header {
	background-color: silver;
	width:100%;
	margin: 0px;
}

h1 {
	font-size:24px;
	text-align: left;
	border-spacing: 100%;
}
h2 {
	font-size: 18px;
	font-style: italic;
	font-family:"Gloria Hallelujah";
}

ul {
	background-color: pink;
}

li {
	display:inline-block;
	width:15%;
	font-weight: bold;
}

img {
	margin-top:10px;
	
}

div {
	display: inline-block;
}

a:link {
	color:blue;
}
.dropdown {
	<style type="text/css">
    ul{
        padding: 0;
        list-style: none;
        background: #f2f2f2;
    }
    ul li{
        display: inline-block;
        position: relative;
        line-height: 21px;
        text-align: left;
    }
    ul li a{
        display: block;
        padding: 8px 25px;
        color: #333;
        text-decoration: none;
    }
    ul li a:hover{
        color: #fff;
        background: #939393;
    }
    ul li ul.dropdown{
        min-width: 125px; /* Set width of the dropdown */
        background: #f2f2f2;
        display: none;
        position: absolute;
        z-index: 999;
        left: 0;
    }
    ul li:hover ul.dropdown{
        display: block;	/* Display the dropdown */
    }
    ul li ul.dropdown li{
        display: block;
    }
}
#blurb {
	font-family: Arial;
	background-color: #FFE3F6;
	height: 325px;
	width:500px;
}

#footer {
	background-color: pink;
	width:100%;
	background-position: left;
	height: 50px;
}